/* Navigation bar. Persistent across the top of all pages */
nav {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
  	right: 0;
  	margin: auto; 
  	width: 100%;
  	z-index: 10;
}

nav a {
	text-decoration: none;
	border: 2px solid blue;
	font: normal;
	padding: 10px;
	color: white;
	background-color: green;
	border-radius: 8px;
}

nav a:hover {
	background-color: blue;
}

h1 {
	color: blue;
	font-size: 64px;
}

h3 {
	color: black;
	position: relative;
	top: -32px;
	font-size: 32px;
	z-index: -1
}

/* CSS for the home page */
.home {
}

#homeImg {
	position: relative;
	top: -64px;
	display: block;
	margin: auto;
	width: 40%;
	opacity: .9;
	z-index: -1;
}

#mainButton {
	text-decoration: none;
	color: white;
	background-color: blue;
	
	position: absolute;
	top: 70%;
	left: 46%;
	display: block;
	
	margin: auto;
	width: 5%;
	padding: 32px;
}

#mainButton:hover {
	background-color: darkblue;
}

.info {
	position: relative;
	margin: auto;
}

footer {
	position: relative;
	top: 32px;
	margin-bottom: 32px;
}

/* CSS input validation display for the login page */
.invalidEmail {
	display: none;
}

input:invalid {
	border: 2px solid red;
}

input:invalid + div {
	display: inline;
	transform: translate(80px, 50%);
	transition: 8s;
}

input:focus + div {
	display: none;
}

/* CSS for the main app page */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.interactive {
	transform: translate(16%, 4%);
	transition: 2s;
}