h1 {
	color: blue;
	font-size: 64px;
}

h3 {
	color: black;
	position: relative;
	top: -32px;
	font-size: 32px;
}

nav {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
  	right: 0;
  	margin: auto; 
  	width: 100%;
}

a {
	text-decoration: none;
	border: 2px solid blue;
	font: normal;
	padding: 10px;

	background-color: lightgreen;
	border-radius: 8px;
}

.info {
	position: relative;
	top: 400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.invalidEmail {
	display: none;
}

input:invalid {
	border: 2px solid red;
}

input:invalid + div {
	display: inline;
	transform: translate(80px, 50%);
	transition: 8s;
}

input:focus + div {
	display: none;
}

#appText {
	transform: translate(4px, 4px);
	transition: 4s;
}

#home {
	position: relative;
	top: -100px;
	z-index: -1;
	opacity: .9;
}

#homeImg {
	position: relative;
	top: 20px;
	display: block;
	margin: auto;
	width: 40%;
}

#test {
	color: blue;
	transform: translate(4px, 4px);
	transition: 4s;
}